## Exercícios

Link para Dataset: https://www.kaggle.com/datasets/matheusfreitag/gas-prices-in-brazil

In [1]:
import pandas as pd

## Neste projeto, trabalharemos com dois arquivos csvs separados, contendo informações sobre o preço da gasolina no Brasil. 

### 1. Carregue os conjuntos de dados "gasolina_2000+.csv" e "gasolina_2010+.csv" em dois DataFrames diferentes e combine-os em um único DataFrame.

In [2]:
df2000 = pd.read_csv('gasolina_2000+.csv', index_col=0)
df2010 = pd.read_csv('gasolina_2010+.csv', sep=',' , low_memory=False, index_col=0)
df = pd.concat([df2000,df2010])

### 2.Investigue as colunas e entenda o conjunto de dados usando o head() e info()

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 120823 entries, 0 to 120822
Data columns (total 18 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   DATA INICIAL                   120823 non-null  object
 1   DATA FINAL                     120823 non-null  object
 2   REGIÃO                         120823 non-null  object
 3   ESTADO                         120823 non-null  object
 4   PRODUTO                        120823 non-null  object
 5   NÚMERO DE POSTOS PESQUISADOS   120823 non-null  int64
 6   UNIDADE DE MEDIDA              120823 non-null  object
 7   PREÇO MÉDIO REVENDA            120823 non-null  float64
 8   DESVIO PADRÃO REVENDA          120823 non-null  float64
 9   PREÇO MÍNIMO REVENDA           120823 non-null  float64
 10  PREÇO MÁXIMO REVENDA           120823 non-null  float64
 11  MARGEM MÉDIA REVENDA           120823 non-null  object
 12  COEF DE VARIAÇÃO REVENDA       120823 non-null  float64
 13  PREÇO MÉDIO DISTRIBUIÇÃO       120823 non-null  object
 14  DESVIO PADRÃO DISTRIBUIÇÃO     120823 non-null  object
 15  PREÇO MÍNIMO DISTRIBUIÇÃO      120823 non-null  object
 16  PREÇO MÁXIMO DISTRIBUIÇÃO      120823 non-null  object
 17  COEF DE VARIAÇÃO DISTRIBUIÇÃO  120823 non-null  object
dtypes: float64(5), int64(1), object(12)
memory usage: 17.5+ MB

### 3. Selecione a terceira entrada da coluna DATA INICIAL e verifique seu tipo.

In [4]:
type(df['DATA INICIAL'] [2])

str

### 4. Você deve ter percebido que as colunas DATA INICIAL e DATA FINAL estão formatadas como string. Utilizando o método pd.to_datetime(), converta ambas colunas para Timestamp / Datetime.

In [5]:
df['DATA INICIAL'] = pd.to_datetime(df['DATA INICIAL'])
df['DATA FINAL'] = pd.to_datetime(df['DATA FINAL'])

### 5. Crie uma nova coluna para representar o ano e o mês(aaaa-mm), utilizando a coluna DATA FINAL como referência.

In [6]:
df['ANO-MES'] = df['DATA FINAL'].apply(lambda x: '{}'.format(x.year)) + df['DATA FINAL'].apply(lambda x: '-{:02d}'.format(x.month))
df['ANO-MES']

0         2004-05
1         2004-05
2         2004-05
3         2004-05
4         2004-05
           ...
120818    2021-05
120819    2021-05
120820    2021-05
120821    2021-05
120822    2021-05
Name: ANO-MES, Length: 120823, dtype: object

### 6. Utilizando o value_counts(), liste todos os tipos de produtos contidos na base de dados.

In [7]:
df['PRODUTO'].value_counts()

GASOLINA COMUM        23570
GLP                   23561
ETANOL HIDRATADO      23440
ÓLEO DIESEL           21194
GNV                   14469
ÓLEO DIESEL S10        9113
OLEO DIESEL S10        2376
OLEO DIESEL            2351
GASOLINA ADITIVADA      749
Name: PRODUTO, dtype: int64

### 7. Filtre o DataFrame para obter apenas dados da 'GASOLINA COMUM'. Grave em uma nova variável.

In [8]:
df2 =  df[df['PRODUTO']=='GASOLINA COMUM']
df2.head()

,DATA INICIAL,DATA FINAL,REGIÃO,ESTADO,PRODUTO,NÚMERO DE POSTOS PESQUISADOS,UNIDADE DE MEDIDA,PREÇO MÉDIO REVENDA,DESVIO PADRÃO REVENDA,PREÇO MÍNIMO REVENDA,PREÇO MÁXIMO REVENDA,MARGEM MÉDIA REVENDA,COEF DE VARIAÇÃO REVENDA,PREÇO MÉDIO DISTRIBUIÇÃO,DESVIO PADRÃO DISTRIBUIÇÃO,PREÇO MÍNIMO DISTRIBUIÇÃO,PREÇO MÁXIMO DISTRIBUIÇÃO,COEF DE VARIAÇÃO DISTRIBUIÇÃO,ANO-MES
12064,2004-05-09,2004-05-15,CENTRO OESTE,DISTRITO FEDERAL,GASOLINA COMUM,128,R$/l,2.029,0.007,1.99,2.070,0.318,0.003,1.711,0.02,1.651,1.7427,0.012,2004-05
12065,2004-05-09,2004-05-15,CENTRO OESTE,GOIAS,GASOLINA COMUM,395,R$/l,2.025,0.062,1.85,2.220,0.296,0.031,1.729,0.036,1.6643,1.915,0.021,2004-05
12066,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO,GASOLINA COMUM,194,R$/l,2.358,0.066,2.00,2.540,0.472,0.028,1.886,0.068,1.75,2.0713,0.036,2004-05
12067,2004-05-09,2004-05-15,CENTRO OESTE,MATO GROSSO DO SUL,GASOLINA COMUM,166,R$/l,2.120,0.075,1.97,2.440,0.325,0.035,1.795,0.033,1.70701,1.9703,0.018,2004-05
12068,2004-05-09,2004-05-15,NORDESTE,ALAGOAS,GASOLINA COMUM,106,R$/l,2.090,0.034,2.00,2.159,0.35,0.016,1.74,0.042,1.6789,1.918,0.024,2004-05

### 8. Qual o preço médio de revenda da gasolina em agosto de 2008?

In [9]:
dfmedia = df2[df2['ANO-MES']=='2008-08']['PREÇO MÉDIO REVENDA'].mean()
dfmedia

2.6012444444444447

In [10]:
##### df['DATA FINAL'].apply(lambda x: '{}'.format(x.year))
df2['ANO'] = df['DATA FINAL'].apply(lambda x: '{}'.format(x.year))

C:\Users\N\AppData\Local\Temp\ipykernel_11872\3920196307.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['ANO'] = df['DATA FINAL'].apply(lambda x: '{}'.format(x.year))

### 9. Qual o preço médio de revenda da gasolina em maio de 2014 em São Paulo?

In [12]:
dfmedia2 = df2[(df2['ANO-MES']=='2014-05') & (df2['ESTADO']=='SAO PAULO')]['PREÇO MÉDIO REVENDA'].mean()
dfmedia2

2.8822

### 10. Você conseguiria descobrir em qual(quais) estado(s) a gasolina ultrapassou a barreira dos R$ 5,00? E quando isso ocorreu?

In [13]:
dfmax = df2[df2['PREÇO MÉDIO REVENDA']>5][['ESTADO','ANO-MES','PREÇO MÉDIO REVENDA']]
dfmax.head(20)

                ESTADO  ANO-MES  PREÇO MÉDIO REVENDA
98201             ACRE  2018-05                5.053
98347             ACRE  2018-06                5.035
98493             ACRE  2018-06                5.038
98511   RIO DE JANEIRO  2018-06                5.016
98646             ACRE  2018-06                5.031
98797             ACRE  2018-06                5.036
98948             ACRE  2018-06                5.039
99098             ACRE  2018-07                5.021
99247             ACRE  2018-07                5.042
99398             ACRE  2018-07                5.038
99549             ACRE  2018-07                5.033
99701             ACRE  2018-08                5.031
99852             ACRE  2018-08                5.015
100003            ACRE  2018-08                5.023
100153            ACRE  2018-08                5.036
100302            ACRE  2018-09                5.018
100453            ACRE  2018-09                5.074
100604            ACRE  2018-09                5.129
100756            ACRE  2018-09                5.153
100774  RIO DE JANEIRO  2018-09                5.036

### 11. Qual a média de preço dos estados da região sul em 2012?

In [13]:
dfaux = df2[df2['DATA FINAL'].apply(lambda x: x.year)==2012]

dfestado2 = dfaux[dfaux['REGIÃO']=='SUL']['PREÇO MÉDIO REVENDA'].mean()

dfestado2

2.7214423076923073

### 12. Você conseguiria obter uma tabela contendo a variação percentual ano a ano para o estado do Rio de Janeiro?

In [14]:
df2['MÊS'] = df2['DATA FINAL'].apply(lambda x: x.month)
dfrj = df2[df2['ESTADO']=='RIO DE JANEIRO']

C:\Users\N\AppData\Local\Temp\ipykernel_11872\3639752860.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['MÊS'] = df2['DATA FINAL'].apply(lambda x: x.month)

In [16]:
dfMonthRio = dfrj.groupby('ANO-MES')[['PREÇO MÉDIO REVENDA','MÊS']].last()
dfMonthRio

         PREÇO MÉDIO REVENDA  MÊS
ANO-MES
2004-05                2.042    5
2004-06                2.152    6
2004-07                2.157    7
2004-08                2.178    8
2004-09                2.181    9
...                      ...  ...
2021-01                5.091    1
2021-02                5.558    2
2021-03                6.131    3
2021-04                6.071    4
2021-05                6.099    5

[204 rows x 2 columns]

In [17]:
((dfMonthRio[dfMonthRio['MÊS'] == 12] / dfMonthRio[dfMonthRio['MÊS'] == 12].shift(1) - 1)*100).rolling(3).sum()

         PREÇO MÉDIO REVENDA  MÊS
ANO-MES
2004-12                  NaN  NaN
2005-12                  NaN  NaN
2006-12                  NaN  NaN
2007-12            10.506106  0.0
2008-12             2.256908  0.0
2009-12             2.977270  0.0
2010-12             4.654667  0.0
2011-12            10.775678  0.0
2012-12            10.121052  0.0
2013-12            14.865958  0.0
2014-12            12.122674  0.0
2015-12            31.601507  0.0
2016-12            28.448678  0.0
2017-12            37.729878  0.0
2018-12            23.072992  0.0
2019-12            23.250920  0.0
2020-12             8.286421  0.0

### DESAFIO: Crie uma tabela contendo uma serie temporal com a diferença absoluta e percentual entre os valores mais baratos e caros. Apresente também ao lado os estados na qual os maiores e menores preços foram registrados.

In [29]:
df_max = df2.groupby('ANO-MES').max()['PREÇO MÉDIO REVENDA']
df_min = df2.groupby('ANO-MES').min()['PREÇO MÉDIO REVENDA']

idx_max = df2.groupby('ANO-MES')['PREÇO MÉDIO REVENDA'].idxmax()
idx_min = df2.groupby('ANO-MES')['PREÇO MÉDIO REVENDA'].idxmin()

In [21]:
df_dif = pd.DataFrame()

In [30]:
df_dif['Max'] = df_max
df_dif['Min'] = df_min
df_dif['abs_dif'] = df_max - df_min
df_dif['dif_percent'] = round((df_max - df_min)/df_min*100,2)

In [41]:
df2.loc[idx_max, :]['ESTADO'].values

array(['ACRE', 'MATO GROSSO', 'ACRE', 'MATO GROSSO', 'ACRE',
       'MATO GROSSO', 'MATO GROSSO', 'MATO GROSSO', 'MATO GROSSO',
       'MATO GROSSO', 'MATO GROSSO', 'MATO GROSSO', 'MATO GROSSO',
       'MATO GROSSO', 'MATO GROSSO', 'MATO GROSSO', 'MATO GROSSO',
       'MATO GROSSO', 'MATO GROSSO', 'MATO GROSSO', 'MATO GROSSO',
       'MATO GROSSO', 'MATO GROSSO', 'MATO GROSSO', 'ACRE', 'ACRE',
       'RORAIMA', 'RORAIMA', 'ACRE', 'ACRE', 'ACRE', 'ACRE',
       'MATO GROSSO', 'MATO GROSSO', 'ACRE', 'ACRE', 'ACRE', 'ACRE',
       'MATO GROSSO', 'MATO GROSSO', 'ACRE', 'ACRE', 'ACRE', 'ACRE',
       'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE',
       'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE',
       'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE',
       'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE',
       'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE',
       'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE',
       'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE',
       'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE',
       'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE',
       'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE',
       'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE',
       'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE',
       'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE',
       'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE',
       'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE',
       'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE',
       'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE',
       'RIO DE JANEIRO', 'ACRE', 'ACRE', 'ACRE', 'RIO DE JANEIRO',
       'RIO DE JANEIRO', 'RIO DE JANEIRO', 'RIO DE JANEIRO',
       'RIO DE JANEIRO', 'RIO DE JANEIRO', 'RIO DE JANEIRO',
       'RIO DE JANEIRO', 'RIO DE JANEIRO', 'RIO DE JANEIRO', 'ACRE',
       'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE', 'ACRE',
       'ACRE', 'ACRE'], dtype=object)

In [42]:
df_dif['ESTADO_MAX']= df2.loc[idx_max, :][['ESTADO']].values
df_dif['ESTADO_MIN']= df2.loc[idx_min, :][['ESTADO']].values

In [43]:
df_dif

         abs_dif  dif_percent    Max    Min   ESTADO_MAX        ESTADO_MIN
ANO-MES
2004-05    0.550        29.13  2.438  1.888         ACRE         SAO PAULO
2004-06    0.584        30.54  2.496  1.912  MATO GROSSO         SAO PAULO
2004-07    0.609        31.46  2.545  1.936         ACRE  DISTRITO FEDERAL
2004-08    0.530        26.11  2.560  2.030  MATO GROSSO         SAO PAULO
2004-09    0.539        26.54  2.570  2.031         ACRE         SAO PAULO
...          ...          ...    ...    ...          ...               ...
2021-01    1.383        36.11  5.213  3.830         ACRE             AMAPA
2021-02    1.688        40.96  5.809  4.121         ACRE             AMAPA
2021-03    2.109        46.06  6.688  4.579         ACRE             AMAPA
2021-04    1.450        30.35  6.227  4.777         ACRE             AMAPA
2021-05    1.391        28.58  6.258  4.867         ACRE             AMAPA

[204 rows x 6 columns]

In [44]:
df_dif['ESTADO_MAX'].value_counts()

ACRE              166
MATO GROSSO        25
RIO DE JANEIRO     11
RORAIMA             2
Name: ESTADO_MAX, dtype: int64

In [45]:
df_dif['ESTADO_MIN'].value_counts()

SAO PAULO              40
AMAPA                  38
PIAUI                  28
PARAIBA                28
PARANA                 14
AMAZONAS               14
DISTRITO FEDERAL       12
MARANHAO                9
SANTA CATARINA          6
PERNAMBUCO              4
MATO GROSSO DO SUL      3
RIO GRANDE DO NORTE     2
GOIAS                   2
CEARA                   2
BAHIA                   2
Name: ESTADO_MIN, dtype: int64